@using EntityLayer.Concrete
 @model List<Result>


@{
    ViewData["Title"] = "Index";
}

 
<div class="row">

    <hr class="col-12">

    <div class="col-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Graph <small>With custom colors.</small></h5>
                <div class="ibox-content">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-bar-chart-graph"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Graph <small>With custom colors.</small></h5>
                <div class="ibox-content">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-pie-chart-graph"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  

    @await Component.InvokeAsync("EmptyProject")
     

    <div class="col-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Result List </h5>
                <div class="ibox-tools">
                    <a href="/Result/AddResult" class="btn btn-primary btn-sm"><i class='bx bx-edit'></i>Add Result</a>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table">
                    <thead>
                        <tr>

                            <th>Student ID</th>
                            <th>Project Name</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Student_ID</td>
                                <td>@item.Project.Project_Name</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>

                            <th>Student ID</th>
                            <th>Project Name</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

