@{
    ViewData["Title"] = "Home Page";
}

@using System.Security.Claims;

<h1>Welcome to the Homepage</h1>

@if (User.HasClaim(x => x.Type == ClaimTypes.Role && x.Value == "AdminRole"))
{
    <div class="col-lg-12">
        <div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a href="/Department/AddDepartment" class="btn btn-danger "><i class="fa fa-plus"></i></a>
                            Add Department
                        </td>
                        <td>
                            <a href="/Instructor/AddInstructor" class="btn btn-primary "><i class="fa fa-plus"></i></a>
                            Add Instructor
                        </td>
                        <td>
                            <a href="/Project/AddProject" class="btn btn-warning "><i class="fa fa-plus"></i></a>
                            Add Project
                        </td>
                        <td>
                            <a href="/Home/SignUp" class="btn btn-success "><i class="fa fa-plus"></i></a>
                            Add Student
                        </td>
                        <td>
                            <a href="/Team/AddTeam" class="btn btn-info "><i class="fa fa-plus"></i></a>
                            Add Team
                        </td>
                        <td>
                            <a href="/Home/GetOptimizationPythonKod" class="btn btn-info "><i class='bx bx-edit'></i>Run Optimization</a>
                        </td>
                         
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">

        <div class="col-lg-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-university fa-5x"></i>
                    </div>
                    <div class="col-8 text-right">
                        <span> Total Departments </span>
                        <h2 class="font-bold">@ViewBag.UserDepartment_V</h2>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-book fa-5x"></i>
                    </div>
                    <div class="col-8 text-right">
                        <span> Total Projects</span>
                        <h2 class="font-bold">@ViewBag.ProjectCount_V</h2>
                    </div>
                </div>
            </div>
        </div>
   
        <div class="col-lg-3">
            <div class="widget style1 blue-bg">
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-8 text-right">
                        <span> Total Teams </span>
                        <h2 class="font-bold">@ViewBag.TeamCount_V</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

     
}


 