@using System.Security.Claims;
@if (User.Identity!.IsAuthenticated)
{
    <ul class="navbar-nav me-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity.Name
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Member" asp-action="Index">Profile</a></li>
                <li><a class="dropdown-item" asp-controller="Member" asp-action="PasswordChange">Change Password</a></li> 
                <li><a class="dropdown-item" asp-controller="Member" asp-action="UserEdit">Update User</a></li> 
                <li><a class="dropdown-item" asp-controller="Member" asp-action="Claims">Claims</a></li>


                @if (User.HasClaim(x => x.Type == ClaimTypes.Role && x.Value == "AdminRole"))
                {
                    <li><a class="dropdown-item" asp-area="admin" asp-controller="Home" asp-action="Index">Admin</a></li>
                    <li>  <a class="btn btn-outline-success" asp-controller="Home" asp-action="SignUp">Add User</a></li>
                }
                <li><a class="dropdown-item" asp-route-returnurl="/Home/Index" asp-controller="Member" asp-action="logout">Log Out</a></li>
            </ul>
        </li>
    </ul>
}
else

{
    <a class="btn btn-sm btn-primary px-4 radius-30" style="color:black" asp-controller="Home" asp-action="SignIn">Üye Giriş</a>
}