 @using EntityLayer.Concrete
 @model List<EmptyProject>


<div class="col-6">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Empty Project List </h5>
            <div class="ibox-tools">
             </div>
        </div>
        <div class="ibox-content">
            <table class="table">
                <thead>
                    <tr> 
                        <th>Project ID</th> 
                        <th>Project Name</th> 
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Project_ID</td>
                            <td>@item.Project.Project_Name</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Project ID</th>
                        <th>Project Name</th>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>