@model UpdateInstructorModel
@{
    ViewData["Title"] = "UpdateInstructor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<div class="card border-top border-0 border-4 border-primary">
    <div class="card-body p-5">
        <div class="card-title d-flex align-items-center">
            <h3 class="mb-0 text-primary">Update Instructor</h3>
        </div>
        <hr>
        @using (Html.BeginForm("UpdateInstructor", "Instructor", FormMethod.Post, new { @class = "row g-3", enctype = "multipart/form-data" }))
        {


            <div class="col-12">
                <label for="Instructor_Name" class="form-label">Instructor First Name</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Instructor_Name, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(x => x.Instructor_Name, null, new { @class = "text-danger" })
            </div>

            <div class="col-12">
                <label for="Instructor_Surname" class="form-label">Instructor Surname</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Instructor_Surname, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-12  mt-3">
                <div class="form-check">
                    @Html.CheckBoxFor(x => x.IsActive, new { @checked = "true" })
                    <label class="form-check-label" for="gridCheck2">Active/Passive</label>
                </div>
            </div>
            <hr class="col-12">
            <div class="ms-auto">
                <a href="/Instructor/Index" class="btn btn-white btn-sm">
                    <i class="bx bx-comment-minus"></i>Cancel
                </a>
                <button asp-controller="Instructor" asp-action="UpdateInstructor" type="submit" class="btn btn-primary btn-sm"><i class="bx bx-save"></i>Save</button>
            </div>
        }
    </div>
</div>

